{% extends "layout.html" %}
{% block content %}
  <!-- Form
  ================================================== -->
<body style="background: url(/static/style/fig1.jpg) 0 0 no-repeat;width:600px;padding:60px;margin: 30px auto; background-size:cover;display: :inline;">
<div class="form" >
  <div class="container" style="align-items: center;width:100;margin: auto;width:350px;" >
    <div class="row">
      <div class="col-md-12" style="background-color: #fff;">
        <p class="lead" >
          {% if name %}
            こんにちは {{ name }} さん
          {% else %}
            {{ message }}
          {% endif %}
        </p>
        <form action="/post" method="post" class="form-inline">
          <label for="name">URL</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Name">
          <button type="submit" class="btn btn-default">送信する</button>
        </form>
      </div>
    </div>
    <div class="row2" style="margin-top:250px;background-color: #fff;" >
      <div>
        <p class="note" >
          URL例：<br>
          あいうえお<br>
          
        </p>
      </div>
    </div>
  </div>
</div>
</body>
{% endblock %}