{% extends "layout.html" %}
{% block content %}
  <!-- Form
  ================================================== -->
<head>
  <script type="text/javascript">
    data = {{ data }}
  </script>>
</head>
<body style="background: url(/static/style/fig1.jpg) 0 0 no-repeat;　padding:60px;margin: 30px auto; background-size:cover;align-items: center;">
<div class="form" style="align-items: center;" >
  <div class="container" style="align-items: center;margin: auto;padding:20px;" >
    <div class="row">
      <div class="col-md-12" style="background-color: #fff;width:600px;">
        <p class="lead" >
            {{ message }}
        </p>
            <script>
            //dataの価格(家賃)帯を3分割する
            //価格帯というkeyを追加　取りうるvalueはlow middle high
            var max_rent = Math.max.apply(null,
                        Object.keys(data).map(function(e) {
                                return data[e]["価格(家賃)"];
                        }));
            var min_rent = Math.min.apply(null,
                        Object.keys(data).map(function(e) {
                                return data[e]["価格(家賃)"];
                        }));

            var three_devided_rent_value = (max_rent - min_rent) / 3.0;
  
            for(element in data){
                if(data[element]["価格(家賃)"] >= min_rent && data[element]["価格(家賃)"] < min_rent + three_devided_rent_value){
                    data[element]['価格帯'] = 'low';
                }else if(data[element]["価格(家賃)"] >= min_rent + three_devided_rent_value && data[element]["価格(家賃)"] < min_rent + three_devided_rent_value * 2){
                    data[element]['価格帯'] = 'middle';
                }else{
                    data[element]['価格帯'] = 'high';
                }
            }
          </script>
          <div id="VerticalGroupedBar">
            <script type="text/javascript">
            var svg_rent_structure = dimple.newSvg("#VerticalGroupedBar", 590, 400);
            var myChart = new dimple.chart(svg_rent_structure, data);
            myChart.setBounds(60, 30, 510, 330)
            myChart.addCategoryAxis("x", "価格帯");
            myChart.addMeasureAxis("y", "count");
            myChart.addSeries("建物構造", dimple.plot.bar);
            myChart.addLegend(65, 10, 510, 20, "right");
            myChart.draw();
            </script>
          </div>
      </div>
    </div>
    <div class="row2" style="align-items: center;margin: auto;" >
      <div style="margin-top:150px;background-color: #fff;padding:20px;width:350px;align-items: center;">
        <p class="note" >
          別の物件を検索：<br>
          <form action="/post" method="post" class="form-inline">
            <label for="name">URL</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Name">
            <button type="submit" class="btn btn-default">送信する</button>
          </form>
        </p>
      </div>
    </div>
  </div>
</div>
</body>
{% endblock %}