<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>dimple.js で作った積上げ棒グラフ</title>
        <script src="http://d3js.org/d3.v4.min.js"></script>
        <script src="http://dimplejs.org/dist/dimple.v2.3.0.min.js"></script>
    </head>
    <body>
        <script>

            var data = [
            {"価格(家賃)":"5.55","床面積":"20.53","緯度":"35.6555979","経度":"139.6102864","築年":"1992.0","予測価格":"6.443500000000001","割引率(％)":"13.9","最寄駅":"千歳烏山駅","最寄駅への所要時間":"16.0","間取り":"1DK","方角":"南","建物構造":"鉄骨","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"5.5","床面積":"24.32","緯度":"35.6555979","経度":"139.6102864","築年":"1991.0","予測価格":"6.707500000000002","割引率(％)":"18.0","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"17.0","間取り":"1K","方角":"方角不明","建物構造":"鉄骨","コンロ口数":"1.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"5.0","床面積":"21.0","緯度":"35.650482000000004","経度":"139.6096618","築年":"1980.0","予測価格":"5.215","割引率(％)":"4.1","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"8.0","間取り":"1K","方角":"東","建物構造":"木造","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"11.9","床面積":"58.57","緯度":"35.6555979","経度":"139.6102864","築年":"2013.0","予測価格":"14.201125000000008","割引率(％)":"16.2","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"21.0","間取り":"2LDK","方角":"西","建物構造":"木造","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機あり","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.4","床面積":"57.46","緯度":"35.6572672","経度":"139.6130194","築年":"1994.0","予測価格":"12.405000000000003","割引率(％)":"0.0","最寄駅":"千歳烏山駅","最寄駅への所要時間":"20.0","間取り":"2LDK","方角":"東","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.4","床面積":"57.58","緯度":"35.6572672","経度":"139.6130194","築年":"1994.0","予測価格":"12.435800000000004","割引率(％)":"0.3","最寄駅":"八幡山駅","最寄駅への所要時間":"19.0","間取り":"2LDK","方角":"東","建物構造":"コンクリート","コンロ口数":"コンロ口数不明","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.4","床面積":"54.27","緯度":"35.6572672","経度":"139.6130194","築年":"1994.0","予測価格":"12.502000000000004","割引率(％)":"0.8","最寄駅":"千歳烏山駅","最寄駅への所要時間":"20.0","間取り":"2LDK","方角":"東","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.4","床面積":"57.6","緯度":"35.6572672","経度":"139.6130194","築年":"1994.0","予測価格":"12.381600000000002","割引率(％)":"-0.1","最寄駅":"八幡山駅","最寄駅への所要時間":"19.0","間取り":"2LDK","方角":"南東","建物構造":"コンクリート","コンロ口数":"コンロ口数不明","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.4","床面積":"54.27","緯度":"35.6572672","経度":"139.6130194","築年":"1994.0","予測価格":"12.506000000000006","割引率(％)":"0.8","最寄駅":"千歳烏山駅","最寄駅への所要時間":"20.0","間取り":"2LDK","方角":"東","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.4","床面積":"54.27","緯度":"35.6572672","経度":"139.6130194","築年":"1994.0","予測価格":"12.485400000000006","割引率(％)":"0.7","最寄駅":"千歳烏山駅","最寄駅への所要時間":"20.0","間取り":"2LDK","方角":"東","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.4","床面積":"57.58","緯度":"35.6572672","経度":"139.6130194","築年":"1994.0","予測価格":"12.450000000000005","割引率(％)":"0.4","最寄駅":"八幡山駅","最寄駅への所要時間":"19.0","間取り":"2LDK","方角":"東","建物構造":"コンクリート","コンロ口数":"コンロ口数不明","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.4","床面積":"57.6","緯度":"35.6572672","経度":"139.6130194","築年":"1994.0","予測価格":"12.536000000000007","割引率(％)":"1.1","最寄駅":"八幡山駅","最寄駅への所要時間":"19.0","間取り":"2LDK","方角":"方角不明","建物構造":"コンクリート","コンロ口数":"コンロ口数不明","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"13.4","床面積":"56.0","緯度":"35.6572672","経度":"139.6130194","築年":"1994.0","予測価格":"12.968","割引率(％)":"-3.3","最寄駅":"千歳烏山駅","最寄駅への所要時間":"20.0","間取り":"2LDK","方角":"南","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング×","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"13.0","床面積":"58.32","緯度":"35.6572672","経度":"139.6130194","築年":"1994.0","予測価格":"13.174000000000005","割引率(％)":"1.3","最寄駅":"千歳烏山駅","最寄駅への所要時間":"20.0","間取り":"2LDK","方角":"南","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"13.0","床面積":"56.79","緯度":"35.6572672","経度":"139.6130194","築年":"1994.0","予測価格":"13.173000000000007","割引率(％)":"1.3","最寄駅":"八幡山駅","最寄駅への所要時間":"19.0","間取り":"2LDK","方角":"南","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"13.4","床面積":"56.99","緯度":"35.6572672","経度":"139.6130194","築年":"1994.0","予測価格":"13.199000000000005","割引率(％)":"-1.5","最寄駅":"八幡山駅","最寄駅への所要時間":"19.0","間取り":"2LDK","方角":"南","建物構造":"コンクリート","コンロ口数":"コンロ口数不明","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"9.0","床面積":"35.45","緯度":"35.6555979","経度":"139.6102864","築年":"2002.0","予測価格":"10.180999999999997","割引率(％)":"11.6","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"19.0","間取り":"2DK","方角":"南","建物構造":"鉄骨","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"10.5","床面積":"49.28","緯度":"35.6555979","経度":"139.6102864","築年":"1992.0","予測価格":"10.387999999999995","割引率(％)":"-1.1","最寄駅":"千歳船橋駅","最寄駅への所要時間":"19.0","間取り":"2DK","方角":"南","建物構造":"木造","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"5.6","床面積":"19.44","緯度":"35.650482000000004","経度":"139.6096618","築年":"1991.0","予測価格":"5.5630000000000015","割引率(％)":"-0.7","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"15.0","間取り":"1","方角":"南","建物構造":"鉄骨","コンロ口数":"1.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"8.5","床面積":"40.1","緯度":"35.650482000000004","経度":"139.6096618","築年":"1984.0","予測価格":"8.846000000000005","割引率(％)":"3.9","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"17.0","間取り":"2DK","方角":"南","建物構造":"木造","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"6.3","床面積":"19.87","緯度":"35.650931899999996","経度":"139.60889790000002","築年":"1989.0","予測価格":"5.310000000000001","割引率(％)":"-18.6","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"13.0","間取り":"1K","方角":"南","建物構造":"木造","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"5.5","床面積":"24.3","緯度":"35.6555979","経度":"139.6102864","築年":"1996.0","予測価格":"6.7494999999999985","割引率(％)":"18.5","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"15.0","間取り":"1","方角":"方角不明","建物構造":"コンクリート","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.5","床面積":"65.45","緯度":"35.6572672","経度":"139.6130194","築年":"1997.0","予測価格":"12.788599999999997","割引率(％)":"2.3","最寄駅":"八幡山駅","最寄駅への所要時間":"19.0","間取り":"2LDK","方角":"南","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"11.9","床面積":"55.45","緯度":"35.6572672","経度":"139.6130194","築年":"1997.0","予測価格":"11.842833333333335","割引率(％)":"-0.5","最寄駅":"八幡山駅","最寄駅への所要時間":"19.0","間取り":"2LDK","方角":"南","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"6.1","床面積":"25.25","緯度":"35.650482000000004","経度":"139.6096618","築年":"1987.0","予測価格":"6.5139999999999985","割引率(％)":"6.4","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"11.0","間取り":"1K","方角":"南","建物構造":"鉄骨","コンロ口数":"コンロ口数不明","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング×","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"7.0","床面積":"28.32","緯度":"35.650482000000004","経度":"139.6096618","築年":"1985.0","予測価格":"6.559000000000002","割引率(％)":"-6.7","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"15.0","間取り":"2K","方角":"南","建物構造":"木造","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング×","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"5.0","床面積":"16.0","緯度":"35.650482000000004","経度":"139.6096618","築年":"1990.0","予測価格":"5.249499999999996","割引率(％)":"4.8","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"13.0","間取り":"1K","方角":"南","建物構造":"木造","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"10.6","床面積":"50.01","緯度":"35.6555979","経度":"139.6102864","築年":"1996.0","予測価格":"10.571999999999992","割引率(％)":"-0.3","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"18.0","間取り":"2DK","方角":"南","建物構造":"鉄骨","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.8","床面積":"54.7","緯度":"35.6572672","経度":"139.6130194","築年":"1993.0","予測価格":"13.309999999999995","割引率(％)":"3.8","最寄駅":"千歳船橋駅","最寄駅への所要時間":"15.0","間取り":"2DK","方角":"方角不明","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"11.5","床面積":"63.25","緯度":"35.6572672","経度":"139.6130194","築年":"1991.0","予測価格":"12.956499999999997","割引率(％)":"11.2","最寄駅":"千歳烏山駅","最寄駅への所要時間":"18.0","間取り":"3LDK","方角":"南","建物構造":"コンクリート","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"3.2","床面積":"16.0","緯度":"35.6555979","経度":"139.6102864","築年":"1973.0","予測価格":"3.406999999999997","割引率(％)":"6.1","最寄駅":"千歳烏山駅","最寄駅への所要時間":"21.0","間取り":"1K","方角":"南","建物構造":"木造","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.4","床面積":"57.6","緯度":"35.6572672","経度":"139.6130194","築年":"1994.0","予測価格":"12.532999999999998","割引率(％)":"1.1","最寄駅":"芦花公園駅","最寄駅への所要時間":"16.0","間取り":"2LDK","方角":"東","建物構造":"コンクリート","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.4","床面積":"57.6","緯度":"35.6572672","経度":"139.6130194","築年":"1994.0","予測価格":"12.458333333333337","割引率(％)":"0.5","最寄駅":"芦花公園駅","最寄駅への所要時間":"16.0","間取り":"2LDK","方角":"東","建物構造":"コンクリート","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"3.0","床面積":"16.0","緯度":"35.6555979","経度":"139.6102864","築年":"1973.0","予測価格":"3.308499999999995","割引率(％)":"9.3","最寄駅":"千歳烏山駅","最寄駅への所要時間":"21.0","間取り":"1K","方角":"南","建物構造":"木造","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"5.5","床面積":"22.68","緯度":"35.650482000000004","経度":"139.6096618","築年":"1987.0","予測価格":"5.786000000000002","割引率(％)":"4.9","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"15.0","間取り":"1K","方角":"南","建物構造":"木造","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング×","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"5.5","床面積":"24.3","緯度":"35.650482000000004","経度":"139.6096618","築年":"1987.0","予測価格":"5.8645","割引率(％)":"6.2","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"15.0","間取り":"1DK","方角":"南","建物構造":"木造","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング×","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"6.5","床面積":"26.4","緯度":"35.650482000000004","経度":"139.6096618","築年":"1995.0","予測価格":"15.513000000000009","割引率(％)":"58.1","最寄駅":"千歳烏山駅","最寄駅への所要時間":"1.0","間取り":"1","方角":"南西","建物構造":"鉄骨","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"10.9","床面積":"44.5","緯度":"35.659775","経度":"139.6093918","築年":"2009.0","予測価格":"12.303999999999997","割引率(％)":"11.4","最寄駅":"千歳烏山駅","最寄駅への所要時間":"15.0","間取り":"1LDK","方角":"南","建物構造":"鉄骨","コンロ口数":"コンロ口数不明","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"5.3","床面積":"19.87","緯度":"35.6555979","経度":"139.6102864","築年":"1990.0","予測価格":"5.757500000000002","割引率(％)":"7.9","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"15.0","間取り":"1","方角":"西","建物構造":"木造","コンロ口数":"コンロ口数不明","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング×","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"7.0","床面積":"31.59","緯度":"35.650482000000004","経度":"139.6096618","築年":"1971.0","予測価格":"6.797","割引率(％)":"-3.0","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"16.0","間取り":"2K","方角":"南","建物構造":"木造","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング×","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"6.0","床面積":"23.51","緯度":"35.6555979","経度":"139.6102864","築年":"1990.0","予測価格":"6.004999999999998","割引率(％)":"0.1","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"20.0","間取り":"1","方角":"南","建物構造":"木造","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング×","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"13.0","床面積":"61.6","緯度":"35.6572672","経度":"139.6130194","築年":"1989.0","予測価格":"12.49375","割引率(％)":"-4.1","最寄駅":"千歳船橋駅","最寄駅への所要時間":"22.0","間取り":"2LDK","方角":"南","建物構造":"コンクリート","コンロ口数":"3.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.0","床面積":"50.76","緯度":"35.650482000000004","経度":"139.6096618","築年":"1989.0","予測価格":"12.61616666666667","割引率(％)":"4.9","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"12.0","間取り":"2LDK","方角":"西","建物構造":"鉄骨","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機あり","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"5.3","床面積":"16.4","緯度":"35.650482000000004","経度":"139.6096618","築年":"1990.0","予測価格":"5.250500000000001","割引率(％)":"-0.9","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"11.0","間取り":"1K","方角":"南西","建物構造":"木造","コンロ口数":"1.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"8.6","床面積":"42.1","緯度":"35.6572672","経度":"139.6130194","築年":"1988.0","予測価格":"9.476999999999997","割引率(％)":"9.3","最寄駅":"千歳船橋駅","最寄駅への所要時間":"20.0","間取り":"2DK","方角":"南","建物構造":"木造","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング×","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"5.8","床面積":"24.75","緯度":"35.6555979","経度":"139.6102864","築年":"1989.0","予測価格":"5.910999999999999","割引率(％)":"1.9","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"20.0","間取り":"1","方角":"南","建物構造":"木造","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"9.8","床面積":"48.76","緯度":"35.6555979","経度":"139.6102864","築年":"1992.0","予測価格":"10.074499999999986","割引率(％)":"2.7","最寄駅":"千歳船橋駅","最寄駅への所要時間":"20.0","間取り":"2DK","方角":"南","建物構造":"木造","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"11.8","床面積":"57.55","緯度":"35.650482000000004","経度":"139.6096618","築年":"1994.0","予測価格":"13.558999999999996","割引率(％)":"13.0","最寄駅":"千歳船橋駅","最寄駅への所要時間":"15.0","間取り":"3DK","方角":"西","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"13.0","床面積":"58.32","緯度":"35.6572672","経度":"139.6130194","築年":"1989.0","予測価格":"12.9777","割引率(％)":"-0.2","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"22.0","間取り":"2LDK","方角":"南","建物構造":"コンクリート","コンロ口数":"3.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"13.0","床面積":"61.6","緯度":"35.6572672","経度":"139.6130194","築年":"1989.0","予測価格":"12.688500000000003","割引率(％)":"-2.5","最寄駅":"千歳船橋駅","最寄駅への所要時間":"20.0","間取り":"2LDK","方角":"西","建物構造":"コンクリート","コンロ口数":"コンロ口数不明","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング×","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"5.7","床面積":"21.5","緯度":"35.650482000000004","経度":"139.6096618","築年":"1983.0","予測価格":"5.847000000000001","割引率(％)":"2.5","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"15.0","間取り":"1K","方角":"南","建物構造":"木造","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"5.0","床面積":"21.0","緯度":"35.650482000000004","経度":"139.6096618","築年":"1962.0","予測価格":"5.786999999999998","割引率(％)":"13.6","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"8.0","間取り":"1K","方角":"東","建物構造":"木造","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"3.0","床面積":"16.0","緯度":"35.6555979","経度":"139.6102864","築年":"1973.0","予測価格":"3.5309999999999975","割引率(％)":"15.0","最寄駅":"千歳烏山駅","最寄駅への所要時間":"21.0","間取り":"1K","方角":"東","建物構造":"木造","コンロ口数":"コンロ口数不明","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"3.2","床面積":"16.0","緯度":"35.6555979","経度":"139.6102864","築年":"1973.0","予測価格":"3.518999999999999","割引率(％)":"9.1","最寄駅":"千歳烏山駅","最寄駅への所要時間":"21.0","間取り":"1K","方角":"東","建物構造":"木造","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング×","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.1","床面積":"57.37","緯度":"35.6572672","経度":"139.6130194","築年":"1993.0","予測価格":"12.953600000000002","割引率(％)":"6.6","最寄駅":"千歳烏山駅","最寄駅への所要時間":"20.0","間取り":"3DK","方角":"南","建物構造":"コンクリート","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"11.9","床面積":"56.46","緯度":"35.6572672","経度":"139.6130194","築年":"1993.0","予測価格":"12.10295","割引率(％)":"1.7","最寄駅":"千歳烏山駅","最寄駅への所要時間":"20.0","間取り":"1LDK","方角":"西","建物構造":"コンクリート","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"9.5","床面積":"37.24","緯度":"35.6572672","経度":"139.6130194","築年":"1998.0","予測価格":"10.969999999999995","割引率(％)":"13.4","最寄駅":"八幡山駅","最寄駅への所要時間":"16.0","間取り":"1LDK","方角":"北","建物構造":"コンクリート","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"9.5","床面積":"37.24","緯度":"35.6572672","経度":"139.6130194","築年":"1998.0","予測価格":"11.033999999999997","割引率(％)":"13.9","最寄駅":"八幡山駅","最寄駅への所要時間":"16.0","間取り":"1LDK","方角":"北","建物構造":"コンクリート","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"8.6","床面積":"42.1","緯度":"35.6572672","経度":"139.6130194","築年":"1988.0","予測価格":"10.2568","割引率(％)":"16.2","最寄駅":"千歳船橋駅","最寄駅への所要時間":"21.0","間取り":"2LDK","方角":"南","建物構造":"木造","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング×","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"11.9","床面積":"56.46","緯度":"35.6572672","経度":"139.6130194","築年":"1993.0","予測価格":"12.231100000000003","割引率(％)":"2.7","最寄駅":"千歳烏山駅","最寄駅への所要時間":"6.0","間取り":"1LDK","方角":"西","建物構造":"コンクリート","コンロ口数":"3.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.1","床面積":"57.37","緯度":"35.6572672","経度":"139.6130194","築年":"1993.0","予測価格":"12.767000000000005","割引率(％)":"5.2","最寄駅":"千歳烏山駅","最寄駅への所要時間":"6.0","間取り":"3DK","方角":"西","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.1","床面積":"57.1","緯度":"35.6572672","経度":"139.6130194","築年":"1993.0","予測価格":"12.257200000000003","割引率(％)":"1.3","最寄駅":"千歳烏山駅","最寄駅への所要時間":"6.0","間取り":"2LDK","方角":"西","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"7.5","床面積":"36.0","緯度":"35.650482000000004","経度":"139.6096618","築年":"1975.0","予測価格":"7.815","割引率(％)":"4.0","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"13.0","間取り":"2DK","方角":"南","建物構造":"木造","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング×","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"7.8","床面積":"38.7","緯度":"35.6555979","経度":"139.6102864","築年":"1979.0","予測価格":"8.244000000000002","割引率(％)":"5.4","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"18.0","間取り":"2DK","方角":"南","建物構造":"コンクリート","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"4.8","床面積":"16.28","緯度":"35.650482000000004","経度":"139.6096618","築年":"1991.0","予測価格":"5.270999999999997","割引率(％)":"8.9","最寄駅":"千歳船橋駅","最寄駅への所要時間":"17.0","間取り":"1K","方角":"南東","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング×","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"6.0","床面積":"24.83","緯度":"35.6555979","経度":"139.6102864","築年":"1986.0","予測価格":"6.912500000000003","割引率(％)":"13.2","最寄駅":"千歳船橋駅","最寄駅への所要時間":"4.0","間取り":"1DK","方角":"南","建物構造":"鉄骨","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"5.0","床面積":"22.56","緯度":"35.6555979","経度":"139.6102864","築年":"1980.0","予測価格":"5.908999999999999","割引率(％)":"15.4","最寄駅":"千歳烏山駅","最寄駅への所要時間":"19.0","間取り":"1K","方角":"南","建物構造":"木造","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"5.3","床面積":"16.39","緯度":"35.6555979","経度":"139.6102864","築年":"1986.0","予測価格":"5.24","割引率(％)":"-1.1","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"19.0","間取り":"1K","方角":"南","建物構造":"鉄骨","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"選択された物件"},
            {"価格(家賃)":"10.5","床面積":"48.8","緯度":"35.6555979","経度":"139.6102864","築年":"1992.0","予測価格":"11.024499999999998","割引率(％)":"4.8","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"21.0","間取り":"2DK","方角":"南","建物構造":"木造","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"11.8","床面積":"61.25","緯度":"35.6555979","経度":"139.6102864","築年":"1997.0","予測価格":"11.889800000000005","割引率(％)":"0.8","最寄駅":"千歳烏山駅","最寄駅への所要時間":"20.0","間取り":"2LDK","方角":"方角不明","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"11.9","床面積":"61.25","緯度":"35.6555979","経度":"139.6102864","築年":"1997.0","予測価格":"12.005399999999993","割引率(％)":"0.9","最寄駅":"千歳烏山駅","最寄駅への所要時間":"20.0","間取り":"2LDK","方角":"方角不明","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"11.8","床面積":"60.0","緯度":"35.6555979","経度":"139.6102864","築年":"1997.0","予測価格":"11.948799999999997","割引率(％)":"1.2","最寄駅":"千歳烏山駅","最寄駅への所要時間":"20.0","間取り":"2LDK","方角":"方角不明","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"11.9","床面積":"60.0","緯度":"35.6555979","経度":"139.6102864","築年":"1997.0","予測価格":"11.96699999999999","割引率(％)":"0.6","最寄駅":"千歳烏山駅","最寄駅への所要時間":"20.0","間取り":"2LDK","方角":"方角不明","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.1","床面積":"63.3","緯度":"35.6555979","経度":"139.6102864","築年":"1997.0","予測価格":"12.268399999999993","割引率(％)":"1.4","最寄駅":"千歳烏山駅","最寄駅への所要時間":"20.0","間取り":"2LDK","方角":"方角不明","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.1","床面積":"61.25","緯度":"35.6555979","経度":"139.6102864","築年":"1997.0","予測価格":"11.974800000000002","割引率(％)":"-1.0","最寄駅":"千歳烏山駅","最寄駅への所要時間":"20.0","間取り":"2LDK","方角":"方角不明","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.0","床面積":"60.0","緯度":"35.6555979","経度":"139.6102864","築年":"1997.0","予測価格":"12.2138","割引率(％)":"1.8","最寄駅":"千歳烏山駅","最寄駅への所要時間":"20.0","間取り":"2LDK","方角":"方角不明","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.1","床面積":"61.61","緯度":"35.6555979","経度":"139.6102864","築年":"1997.0","予測価格":"12.424799999999996","割引率(％)":"2.6","最寄駅":"千歳烏山駅","最寄駅への所要時間":"20.0","間取り":"2LDK","方角":"方角不明","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"5.6","床面積":"20.0","緯度":"35.650482000000004","経度":"139.6096618","築年":"1989.0","予測価格":"5.687999999999997","割引率(％)":"1.5","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"14.0","間取り":"1K","方角":"南","建物構造":"鉄骨","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"7.2","床面積":"25.47","緯度":"35.6555979","経度":"139.6102864","築年":"2010.0","予測価格":"7.730250000000002","割引率(％)":"6.9","最寄駅":"千歳烏山駅","最寄駅への所要時間":"19.0","間取り":"1K","方角":"西","建物構造":"鉄骨","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"6.5","床面積":"20.02","緯度":"35.650482000000004","経度":"139.6096618","築年":"1986.0","予測価格":"6.324999999999999","割引率(％)":"-2.8","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"15.0","間取り":"1K","方角":"南西","建物構造":"鉄骨","コンロ口数":"1.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"6.6","床面積":"19.85","緯度":"35.650482000000004","経度":"139.6096618","築年":"1986.0","予測価格":"6.3365","割引率(％)":"-4.2","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"13.0","間取り":"1K","方角":"南","建物構造":"鉄骨","コンロ口数":"1.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"6.5","床面積":"20.02","緯度":"35.650482000000004","経度":"139.6096618","築年":"1986.0","予測価格":"6.3195","割引率(％)":"-2.9","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"15.0","間取り":"1K","方角":"南西","建物構造":"鉄骨","コンロ口数":"コンロ口数不明","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"8.5","床面積":"53.6","緯度":"35.6555979","経度":"139.6102864","築年":"1992.0","予測価格":"12.179999999999998","割引率(％)":"30.2","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"17.0","間取り":"2DK","方角":"南","建物構造":"鉄骨","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング×","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"10.5","床面積":"48.2","緯度":"35.6555979","経度":"139.6102864","築年":"1992.0","予測価格":"10.648500000000002","割引率(％)":"1.4","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"20.0","間取り":"2LDK","方角":"南","建物構造":"木造","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"9.8","床面積":"48.76","緯度":"35.6555979","経度":"139.6102864","築年":"1992.0","予測価格":"10.209999999999987","割引率(％)":"4.0","最寄駅":"千歳船橋駅","最寄駅への所要時間":"20.0","間取り":"2DK","方角":"南","建物構造":"木造","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"10.0","床面積":"40.99","緯度":"35.6555979","経度":"139.6102864","築年":"2012.0","予測価格":"11.61999999999999","割引率(％)":"13.9","最寄駅":"千歳烏山駅","最寄駅への所要時間":"19.0","間取り":"1LDK","方角":"西","建物構造":"木造","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機あり","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"6.7","床面積":"23.4","緯度":"35.650482000000004","経度":"139.6096618","築年":"1997.0","予測価格":"6.591000000000001","割引率(％)":"-1.7","最寄駅":"成城学園前駅","最寄駅への所要時間":"6.0","間取り":"1K","方角":"南西","建物構造":"鉄骨","コンロ口数":"1.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.2","床面積":"64.45","緯度":"35.6572672","経度":"139.6130194","築年":"1997.0","予測価格":"12.883100000000006","割引率(％)":"5.3","最寄駅":"八幡山駅","最寄駅への所要時間":"20.0","間取り":"2LDK","方角":"南","建物構造":"コンクリート","コンロ口数":"コンロ口数不明","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"11.4","床面積":"55.01","緯度":"35.6572672","経度":"139.6130194","築年":"1997.0","予測価格":"11.574999999999994","割引率(％)":"1.5","最寄駅":"八幡山駅","最寄駅への所要時間":"20.0","間取り":"2LDK","方角":"南","建物構造":"コンクリート","コンロ口数":"コンロ口数不明","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"11.6","床面積":"55.45","緯度":"35.6572672","経度":"139.6130194","築年":"1997.0","予測価格":"11.644200000000003","割引率(％)":"0.4","最寄駅":"八幡山駅","最寄駅への所要時間":"20.0","間取り":"2LDK","方角":"南","建物構造":"コンクリート","コンロ口数":"コンロ口数不明","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"11.6","床面積":"55.01","緯度":"35.6572672","経度":"139.6130194","築年":"1997.0","予測価格":"11.654616666666671","割引率(％)":"0.5","最寄駅":"八幡山駅","最寄駅への所要時間":"20.0","間取り":"2LDK","方角":"南","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"11.6","床面積":"55.45","緯度":"35.6572672","経度":"139.6130194","築年":"1997.0","予測価格":"11.760099999999996","割引率(％)":"1.4","最寄駅":"八幡山駅","最寄駅への所要時間":"20.0","間取り":"2LDK","方角":"南","建物構造":"コンクリート","コンロ口数":"コンロ口数不明","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"11.3","床面積":"45.77","緯度":"35.650482000000004","経度":"139.6096618","築年":"1992.0","予測価格":"10.131299999999998","割引率(％)":"-11.5","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"12.0","間取り":"2DK","方角":"南","建物構造":"鉄骨","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"5.0","床面積":"21.0","緯度":"35.650482000000004","経度":"139.6096618","築年":"1980.0","予測価格":"5.338000000000001","割引率(％)":"6.3","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"14.0","間取り":"1K","方角":"東","建物構造":"木造","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"5.0","床面積":"21.0","緯度":"35.650482000000004","経度":"139.6096618","築年":"1980.0","予測価格":"5.359000000000002","割引率(％)":"6.7","最寄駅":"千歳烏山駅","最寄駅への所要時間":"3.0","間取り":"1K","方角":"東","建物構造":"木造","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"6.7","床面積":"23.4","緯度":"35.650482000000004","経度":"139.6096618","築年":"1997.0","予測価格":"6.712500000000002","割引率(％)":"0.2","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"14.0","間取り":"1K","方角":"南","建物構造":"鉄骨","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"13.5","床面積":"59.54","緯度":"35.6572672","経度":"139.6130194","築年":"1991.0","予測価格":"12.757566666666671","割引率(％)":"-5.8","最寄駅":"八幡山駅","最寄駅への所要時間":"21.0","間取り":"3LDK","方角":"南","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"13.5","床面積":"60.5","緯度":"35.6505709","経度":"139.6105756","築年":"1991.0","予測価格":"12.692300000000003","割引率(％)":"-6.4","最寄駅":"千歳烏山駅","最寄駅への所要時間":"18.0","間取り":"3DK","方角":"南","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.4","床面積":"57.6","緯度":"35.6572672","経度":"139.6130194","築年":"1994.0","予測価格":"12.635000000000005","割引率(％)":"1.9","最寄駅":"千歳烏山駅","最寄駅への所要時間":"22.0","間取り":"2LDK","方角":"東","建物構造":"コンクリート","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"13.0","床面積":"56.79","緯度":"35.6572672","経度":"139.6130194","築年":"1994.0","予測価格":"13.092000000000002","割引率(％)":"0.7","最寄駅":"千歳烏山駅","最寄駅への所要時間":"19.0","間取り":"2LDK","方角":"南","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"13.4","床面積":"56.9","緯度":"35.6572672","経度":"139.6130194","築年":"1994.0","予測価格":"13.131000000000004","割引率(％)":"-2.0","最寄駅":"千歳烏山駅","最寄駅への所要時間":"19.0","間取り":"2LDK","方角":"南","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"13.8","床面積":"54.7","緯度":"35.6572672","経度":"139.6130194","築年":"1993.0","予測価格":"12.564733333333331","割引率(％)":"-9.8","最寄駅":"千歳船橋駅","最寄駅への所要時間":"15.0","間取り":"1LDK","方角":"方角不明","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.4","床面積":"56.9","緯度":"35.6572672","経度":"139.6130194","築年":"1994.0","予測価格":"12.447000000000003","割引率(％)":"0.4","最寄駅":"千歳烏山駅","最寄駅への所要時間":"19.0","間取り":"2LDK","方角":"東","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"13.4","床面積":"56.9","緯度":"35.6572672","経度":"139.6130194","築年":"1994.0","予測価格":"13.150000000000002","割引率(％)":"-1.9","最寄駅":"千歳烏山駅","最寄駅への所要時間":"19.0","間取り":"2LDK","方角":"南","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"5.0","床面積":"19.83","緯度":"35.650482000000004","経度":"139.6096618","築年":"1988.0","予測価格":"5.159000000000001","割引率(％)":"3.1","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"11.0","間取り":"1K","方角":"方角不明","建物構造":"木造","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"7.3","床面積":"36.5","緯度":"35.659775","経度":"139.6093918","築年":"1986.0","予測価格":"9.169999999999998","割引率(％)":"20.4","最寄駅":"千歳烏山駅","最寄駅への所要時間":"15.0","間取り":"2DK","方角":"南","建物構造":"コンクリート","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"9.7","床面積":"39.17","緯度":"35.6572672","経度":"139.6130194","築年":"1988.0","予測価格":"9.53","割引率(％)":"-1.8","最寄駅":"千歳烏山駅","最寄駅への所要時間":"5.0","間取り":"2DK","方角":"南","建物構造":"コンクリート","コンロ口数":"3.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"11.5","床面積":"60.5","緯度":"35.6505709","経度":"139.6105756","築年":"1991.0","予測価格":"13.031066666666668","割引率(％)":"11.7","最寄駅":"千歳烏山駅","最寄駅への所要時間":"18.0","間取り":"3DK","方角":"南","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.5","床面積":"58.14","緯度":"35.6505709","経度":"139.6105756","築年":"1991.0","予測価格":"12.627833333333333","割引率(％)":"1.0","最寄駅":"千歳烏山駅","最寄駅への所要時間":"18.0","間取り":"2LDK","方角":"南","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"13.5","床面積":"60.48","緯度":"35.6572672","経度":"139.6130194","築年":"1991.0","予測価格":"13.144000000000005","割引率(％)":"-2.7","最寄駅":"千歳烏山駅","最寄駅への所要時間":"18.0","間取り":"3DK","方角":"南","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.9","床面積":"60.5","緯度":"35.6505709","経度":"139.6105756","築年":"1991.0","予測価格":"13.229000000000003","割引率(％)":"2.5","最寄駅":"千歳烏山駅","最寄駅への所要時間":"18.0","間取り":"3DK","方角":"南","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"13.5","床面積":"59.54","緯度":"35.6572672","経度":"139.6130194","築年":"1991.0","予測価格":"12.757566666666671","割引率(％)":"-5.8","最寄駅":"八幡山駅","最寄駅への所要時間":"21.0","間取り":"3LDK","方角":"南","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"13.5","床面積":"60.48","緯度":"35.6572672","経度":"139.6130194","築年":"1991.0","予測価格":"13.289266666666665","割引率(％)":"-1.6","最寄駅":"千歳烏山駅","最寄駅への所要時間":"18.0","間取り":"3DK","方角":"南","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.4","床面積":"57.6","緯度":"35.6505709","経度":"139.6105756","築年":"1994.0","予測価格":"12.482000000000001","割引率(％)":"0.7","最寄駅":"千歳烏山駅","最寄駅への所要時間":"18.0","間取り":"2LDK","方角":"東","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.4","床面積":"57.6","緯度":"35.6572672","経度":"139.6130194","築年":"1994.0","予測価格":"12.5654","割引率(％)":"1.3","最寄駅":"千歳烏山駅","最寄駅への所要時間":"19.0","間取り":"2LDK","方角":"東","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.4","床面積":"57.6","緯度":"35.6505709","経度":"139.6105756","築年":"1994.0","予測価格":"12.520999999999999","割引率(％)":"1.0","最寄駅":"千歳烏山駅","最寄駅への所要時間":"18.0","間取り":"2LDK","方角":"東","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.4","床面積":"57.6","緯度":"35.6572672","経度":"139.6130194","築年":"1994.0","予測価格":"12.598000000000003","割引率(％)":"1.6","最寄駅":"千歳船橋駅","最寄駅への所要時間":"18.0","間取り":"2LDK","方角":"東","建物構造":"コンクリート","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"11.4","床面積":"55.01","緯度":"35.6572672","経度":"139.6130194","築年":"1997.0","予測価格":"11.986399999999998","割引率(％)":"4.9","最寄駅":"千歳烏山駅","最寄駅への所要時間":"16.0","間取り":"2LDK","方角":"南","建物構造":"コンクリート","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.5","床面積":"65.45","緯度":"35.6572672","経度":"139.6130194","築年":"1997.0","予測価格":"13.089399999999994","割引率(％)":"4.5","最寄駅":"八幡山駅","最寄駅への所要時間":"21.0","間取り":"2LDK","方角":"南","建物構造":"コンクリート","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.2","床面積":"65.45","緯度":"35.6572672","経度":"139.6130194","築年":"1997.0","予測価格":"13.089399999999994","割引率(％)":"6.8","最寄駅":"八幡山駅","最寄駅への所要時間":"21.0","間取り":"2LDK","方角":"南","建物構造":"コンクリート","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"11.4","床面積":"55.01","緯度":"35.6572672","経度":"139.6130194","築年":"1997.0","予測価格":"11.689449999999999","割引率(％)":"2.5","最寄駅":"八幡山駅","最寄駅への所要時間":"21.0","間取り":"2LDK","方角":"南","建物構造":"コンクリート","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"11.9","床面積":"55.45","緯度":"35.6572672","経度":"139.6130194","築年":"1997.0","予測価格":"11.735483333333336","割引率(％)":"-1.4","最寄駅":"八幡山駅","最寄駅への所要時間":"21.0","間取り":"2LDK","方角":"南","建物構造":"コンクリート","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"11.7","床面積":"55.01","緯度":"35.6572672","経度":"139.6130194","築年":"1997.0","予測価格":"11.704099999999997","割引率(％)":"0.0","最寄駅":"八幡山駅","最寄駅への所要時間":"21.0","間取り":"2LDK","方角":"南","建物構造":"コンクリート","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"11.6","床面積":"55.45","緯度":"35.6572672","経度":"139.6130194","築年":"1997.0","予測価格":"11.735483333333336","割引率(％)":"1.2","最寄駅":"八幡山駅","最寄駅への所要時間":"21.0","間取り":"2LDK","方角":"南","建物構造":"コンクリート","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"11.6","床面積":"55.01","緯度":"35.6572672","経度":"139.6130194","築年":"1997.0","予測価格":"11.720750000000017","割引率(％)":"1.0","最寄駅":"八幡山駅","最寄駅への所要時間":"21.0","間取り":"2LDK","方角":"南","建物構造":"コンクリート","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"13.0","床面積":"58.32","緯度":"35.6572672","経度":"139.6130194","築年":"1989.0","予測価格":"12.757","割引率(％)":"-1.9","最寄駅":"千歳烏山駅","最寄駅への所要時間":"23.0","間取り":"2LDK","方角":"南","建物構造":"コンクリート","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.0","床面積":"52.55","緯度":"35.6555979","経度":"139.6102864","築年":"2012.0","予測価格":"13.192000000000002","割引率(％)":"9.0","最寄駅":"千歳烏山駅","最寄駅への所要時間":"18.0","間取り":"1LDK","方角":"南","建物構造":"鉄骨","コンロ口数":"3.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"7.2","床面積":"25.47","緯度":"35.6505709","経度":"139.6105756","築年":"2010.0","予測価格":"7.709150000000002","割引率(％)":"6.6","最寄駅":"千歳烏山駅","最寄駅への所要時間":"19.0","間取り":"1K","方角":"西","建物構造":"鉄骨","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"6.7","床面積":"24.02","緯度":"35.650482000000004","経度":"139.6096618","築年":"2004.0","予測価格":"7.156000000000003","割引率(％)":"6.4","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"14.0","間取り":"1K","方角":"南","建物構造":"鉄骨","コンロ口数":"コンロ口数不明","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"5.0","床面積":"19.83","緯度":"35.650482000000004","経度":"139.6096618","築年":"1988.0","予測価格":"5.227","割引率(％)":"4.3","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"11.0","間取り":"1K","方角":"方角不明","建物構造":"木造","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"10.5","床面積":"48.0","緯度":"35.6555979","経度":"139.6102864","築年":"1995.0","予測価格":"11.043666666666661","割引率(％)":"4.9","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"19.0","間取り":"2LDK","方角":"南","建物構造":"木造","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"7.8","床面積":"41.73","緯度":"35.6555979","経度":"139.6102864","築年":"1974.0","予測価格":"8.972100000000003","割引率(％)":"13.1","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"18.0","間取り":"2DK","方角":"南","建物構造":"コンクリート","コンロ口数":"0.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックなし","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.0","床面積":"52.55","緯度":"35.6555979","経度":"139.6102864","築年":"2012.0","予測価格":"12.879800000000007","割引率(％)":"6.8","最寄駅":"千歳烏山駅","最寄駅への所要時間":"5.0","間取り":"1LDK","方角":"南","建物構造":"鉄骨","コンロ口数":"コンロ口数不明","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"6.5","床面積":"20.02","緯度":"35.650482000000004","経度":"139.6096618","築年":"1986.0","予測価格":"6.182000000000003","割引率(％)":"-5.1","最寄駅":"祖師ケ谷大蔵駅","最寄駅への所要時間":"17.0","間取り":"1K","方角":"南","建物構造":"鉄骨","コンロ口数":"1.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング×","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.4","床面積":"57.58","緯度":"35.6572672","経度":"139.6130194","築年":"1994.0","予測価格":"12.557999999999998","割引率(％)":"1.3","最寄駅":"千歳烏山駅","最寄駅への所要時間":"18.0","間取り":"2LDK","方角":"東","建物構造":"コンクリート","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "},
            {"価格(家賃)":"12.4","床面積":"57.64","緯度":"35.6572672","経度":"139.6130194","築年":"1994.0","予測価格":"12.443","割引率(％)":"0.3","最寄駅":"千歳烏山駅","最寄駅への所要時間":"21.0","間取り":"2LDK","方角":"東","建物構造":"コンクリート","コンロ口数":"2.0","浴室乾燥機":"浴室乾燥機なし","オートロック":"オートロックあり","フローリング":"フローリング〇","選択物件":"周囲の物件 (500m県内) "}
            ]
        </script>

        <!--　ユーザーに価格
        <input id="cheap_min" type="text">
        <input id="cheap_max" type="text">


        <input id="middle_min" type="text">
        <input id="middle_max" type="text">

        <input id="premium_min" type="text">
        <input id="premium_max" type="text">
        -->
        
        <script>
            //dataの価格(家賃)帯を3分割する
            //価格帯というkeyを追加　取りうるvalueはlow middle high
            var max_rent = Math.max.apply(null,
                        Object.keys(data).map(function(e) {
                                return data[e]["価格(家賃)"];
                        }));
            var min_rent = Math.min.apply(null,
                        Object.keys(data).map(function(e) {
                                return data[e]["価格(家賃)"];
                        }));

            var three_devided_rent_value = (max_rent - min_rent) / 3.0;

            
            for(element in data){
                if(data[element]["価格(家賃)"] >= min_rent && data[element]["価格(家賃)"] < min_rent + three_devided_rent_value){
                    data[element]['価格帯'] = 'low';
                }else if(data[element]["価格(家賃)"] >= min_rent + three_devided_rent_value && data[element]["価格(家賃)"] < min_rent + three_devided_rent_value * 2){
                    data[element]['価格帯'] = 'middle';
                }else{
                    data[element]['価格帯'] = 'high';
                }
            }





        </script>
        

        <h1>周囲500mの物件データ</h1>


        <h2>散布図</h2>

        <div id="Scatter1" >
            <script type="text/javascript">
            
                //Scatter : A simple two measure scatter chart
                var svg = dimple.newSvg("#Scatter1", 590, 400);
                var myChart = new dimple.chart(svg, data);
                myChart.setBounds(60, 30, 500, 330);
                myChart.addMeasureAxis("x", "床面積");
                myChart.addMeasureAxis("y", "価格(家賃)");

                myChart.addSeries("価格(家賃)",dimple.plot.bubble);
                myChart.addLegend(200, 10, 360, 20, "right");
                myChart.draw();
                

            </script>
        </div>


        <div id="Scatter2" >
            <script type="text/javascript">
            
                //Scatter : A simple two measure scatter chart
                var rent_old_data = [];
                for(element in data){
                    rent_old_data.push({'価格(家賃)':data[element]["価格(家賃)"],'築年':data[element]["築年"]});
                };
                var svg_rent_old_scatter = dimple.newSvg("body", 590, 400);
                var myChart = new dimple.chart(svg_rent_old_scatter, rent_old_data);
                myChart.setBounds(60, 30, 500, 330);
                myChart.addMeasureAxis("x", "築年");
                myChart.addMeasureAxis("y", "価格(家賃)");
                myChart.addSeries("価格(家賃)", dimple.plot.bubble);
                myChart.addLegend(200, 10, 360, 20, "right");
                myChart.draw();
                

            </script>
        </div>



        <div id="Scatter3" >
            <script type="text/javascript">
            
                //Scatter : A simple two measure scatter chart
                var rent_old_data = [];
                for(element in data){
                    rent_old_data.push({'価格(家賃)':data[element]["価格(家賃)"],'築年':data[element]["築年"]});
                };
                var svg_rent_old_scatter = dimple.newSvg("body", 590, 400);
                var myChart = new dimple.chart(svg_rent_old_scatter, rent_old_data);
                myChart.setBounds(60, 30, 500, 330);
                myChart.addMeasureAxis("x", "築年");
                myChart.addMeasureAxis("y", "価格(家賃)");
                myChart.addSeries("価格(家賃)", dimple.plot.bubble);
                myChart.addLegend(200, 10, 360, 20, "right");
                myChart.draw();
                

            </script>
        </div>

        <div id="Scatter" >
            <script type="text/javascript">
            
                var rent_predictrent_data = [];
                for(element in data){
                    rent_predictrent_data.push({'価格(家賃)':data[element]["価格(家賃)"],'予測価格':data[element]["予測価格"]});
                };
                var svg_rent_predictrent_scatter = dimple.newSvg("body", 590, 400);
                var myChart = new dimple.chart(svg_rent_predictrent_scatter, rent_predictrent_data);
                myChart.setBounds(60, 30, 500, 330);
                myChart.addMeasureAxis("x", "予測価格");
                myChart.addMeasureAxis("y", "価格(家賃)");
                myChart.addSeries("価格(家賃)", dimple.plot.bubble);
                myChart.addLegend(200, 10, 360, 20, "right");
                myChart.draw();
                

            </script>
        </div>

        <div id="Scatter" >
            <script type="text/javascript">
            
                var rent_discountrate_data = [];
                for(element in data){
                    rent_discountrate_data.push({'価格(家賃)':data[element]["価格(家賃)"],'割引率(％)':data[element]["割引率(％)"]});
                };
                var svg_rent_discountrate_scatter = dimple.newSvg("body", 590, 400);
                var myChart = new dimple.chart(svg_rent_discountrate_scatter, rent_discountrate_data);
                myChart.setBounds(60, 30, 500, 330);
                myChart.addMeasureAxis("x", "割引率(％)");
                myChart.addMeasureAxis("y", "価格(家賃)");
                myChart.addSeries("価格(家賃)", dimple.plot.bubble);
                myChart.addLegend(200, 10, 360, 20, "right");
                myChart.draw();
                

            </script>
        </div>
        <div id="Scatter" >
            <script type="text/javascript">
            
                var rent_distance_data = [];
                for(element in data){
                    rent_distance_data.push({'価格(家賃)':data[element]["価格(家賃)"],'最寄駅への所要時間':data[element]["最寄駅への所要時間"]});
                };
                var svg_rent_distance_scatter = dimple.newSvg("body", 590, 400);
                var myChart = new dimple.chart(svg_rent_distance_scatter, rent_distance_data);
                myChart.setBounds(60, 30, 500, 330);
                myChart.addMeasureAxis("x", "最寄駅への所要時間");
                myChart.addMeasureAxis("y", "価格(家賃)");
                myChart.addSeries("価格(家賃)", dimple.plot.bubble);
                myChart.addLegend(200, 10, 360, 20, "right");
                myChart.draw();
                

            </script>
        </div>

        <div id="Scatter" >
            <script type="text/javascript">
            
                
                var svg_rent_stove_scatter = dimple.newSvg("body", 590, 400);
                var myChart = new dimple.chart(svg_rent_stove_scatter, data);
                myChart.setBounds(60, 30, 500, 330);
                myChart.addMeasureAxis("x", "コンロ口数");
                myChart.addMeasureAxis("y", "価格(家賃)");
                myChart.addSeries("価格(家賃)", dimple.plot.bubble);
                myChart.addLegend(200, 10, 360, 20, "right");
                myChart.draw();
                

            </script>
        </div>
        
        


        <h2>棒グラフ ※縦軸が積み上げの値になっているので修正中</h2>

       

        <div id="VerticalGroupedBar">
            <script type="text/javascript">
            var svg_rent_floor = dimple.newSvg("#VerticalGroupedBar", 590, 400);
            var myChart = new dimple.chart(svg_rent_floor, data);
            myChart.setBounds(60, 30, 510, 330)
            myChart.addCategoryAxis("x", "間取り");
            myChart.addMeasureAxis("y", "価格(家賃)");
            myChart.addSeries("間取り", dimple.plot.bar);
            myChart.addLegend(65, 10, 510, 20, "right");
            myChart.draw();
            </script>
        </div>
        <div id="VerticalGroupedBar">
            <script type="text/javascript">
            var svg_rent_structure = dimple.newSvg("#VerticalGroupedBar", 590, 400);
            var myChart = new dimple.chart(svg_rent_structure, data);
            myChart.setBounds(60, 30, 510, 330)
            myChart.addCategoryAxis("x", "建物構造");
            myChart.addMeasureAxis("y", "価格(家賃)");
            myChart.addSeries("建物構造", dimple.plot.bar);
            myChart.addLegend(65, 10, 510, 20, "right");
            myChart.draw();
            </script>
        </div>





        <h2>その他</h2>
        <div>
            <script type="text/javascript">
                // Vertical Grouped Bar : An unstacked grouped vertical bar chart
                var rent_area_station_data  = [];
                for(element in data){
                    rent_area_station_data.push({'価格(家賃)':data[element]["価格(家賃)"],'床面積':data[element]["床面積"],"最寄駅":data[element]["最寄駅"]});
                };
                var svg2 = dimple.newSvg("body", 590, 400);
                var myChart = new dimple.chart(svg2, rent_area_station_data);
                myChart.setBounds(60, 30, 510, 330);
                myChart.addCategoryAxis("x", ["床面積", "最寄駅"]);
                myChart.addMeasureAxis("y", "価格(家賃)");
                myChart.addSeries("最寄駅", dimple.plot.bar);
                myChart.addLegend(65, 10, 510, 20, "right");
                myChart.draw();
            </script>
        </div>

            
            <script type="text/javascript">
                var svg3 = dimple.newSvg("body", 590, 400);
                var myChart = new dimple.chart(svg3, data);
                myChart.setBounds(80, 30, 480, 330)
                myChart.addMeasureAxis("x", "床面積");
                myChart.addCategoryAxis("y", ['価格帯', "予測価格"]);
                myChart.addSeries("価格帯", dimple.plot.bar);
                myChart.addLegend(60, 10, 510, 20, "right");
                myChart.draw();
            </script>
        
        <!--
        <div id="chartContainer">
            
            <script type="text/javascript">
            var svg_rent_structure = dimple.newSvg("#chartContainer", 590, 400);
            var myChart = new dimple.chart(svg_rent_structure, data);
            myChart.setBounds(60, 30, 510, 305)
            var x = myChart.addCategoryAxis("x", "建物構造");
            myChart.addMeasureAxis("y", "価格(家賃)");
            myChart.addSeries(null, dimple.plot.bar);
            myChart.draw();

  </script>
</div>
-->






        

        <!--
        <div id="DualMeasureArea">
            <script type="text/javascript">
                var svg = dimple.newSvg("#DualMeasureArea", 590, 400);
           
                var myChart = new dimple.chart(svg, data);
                myChart.setBounds(50, 40, 500, 310)
                var x = myChart.addMeasureAxis("x", "Distribution");
                var y = myChart.addMeasureAxis("y", "Price");
                var s = myChart.addSeries(["SKU", "Price Tier"], dimple.plot.area);
                s.aggregate = dimple.aggregateMethod.avg;
                s.lineMarkers = true;
                myChart.addLegend(30, 10, 500, 35, "right");
                myChart.draw();
            </script>
        </div>
        -->



        
    </body>
</html>